
.certificateSec{
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    width: 100%;
}
.certificateSec h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}
.certificateSec h2::after{
    position: absolute;
    content: "";
    top: 5.5rem;
    left: 2rem;
    border-radius: 2rem;
    width: 5%;
    height: 5px;
    background: linear-gradient(
        to right,
        hsl(45, 100%, 72%),
        hsl(35, 100%, 68%)
      );
}
.CertificateSec1{
    display: flex;
    flex-direction: column;
    color: white;
    border-left: 2px solid #383838;

}
.CertSec1heading{
    display: flex;
}

.fa-xs{
    position: absolute;
    color: yellow;
}


.certificate{
    padding: 0.3rem;
    display: inline-block;
    box-sizing: border-box;
    border: 0.5rem solid black;
}
.certificate img{
    display: block;
    width: 220px;
    height: auto;
}
.certificate:hover img{
    transform: scale(1.05);
    cursor: zoom-in;
    transition: transform 0.5s ease;
}
.Hed1icons{
    position: relative;
    left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: #212E34;
    border-radius: 0.5rem;
}
.CertSec1heading h3{
    font-size: 24px;
}
.Hed1icons i{
    color: #FFDB70;
}