.CertificateInfo{
    display: flex;
    gap: 1.7rem;
    margin-top: 2rem;
}
.disc{
    position: relative;
    left: -9px;
    height: 1rem;
    width: 1rem;
    background: linear-gradient(
        to right,
        hsl(45, 100%, 72%),
        hsl(35, 100%, 68%)
      );
    border-radius: 50%;
    border: 0.25rem solid #383838;    
}
.info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: -4px;
}
.imgSec p{
    color: #D6D6D6;
    font-weight: 300;
}