.MainLangSec{
    display: flex;
    gap: 0.8rem;
    flex-direction: column;
}
.MainLangSec h5{
    color: #FAFAFA;
    font-size: 15px;
}
.lang{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #D6D6D6;
}