.App {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background: rgba(30, 30, 31, 0.418);
  border-radius: 1.5rem;
  border: 1px solid rgb(56, 56, 56);
  padding-bottom: 2rem;
}


.nextBtnCont{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0rem 2rem;
}

.nextBtn{
  padding: 0.8rem 1rem;
  border: none;
  background: RGBA(0, 0, 0, 0.1);
  color: #FFF;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}