*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-image: linear-gradient(to bottom, #23d3ff 0%, #276aa5 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* background-color: #24CDF8; */
  padding: 2rem;
  /* overflow-y: scroll; */
}